<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Share</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="banner">
        <h1>File Share</h1>
    </div>
    <section class="container">
        
        <div class="content">
            <h3>Share your files easily !</h3>
            
            <img src="/media/void.svg" alt="Transfer Files">
            
            <h2>File not found</h2>
            <p> The file is no longer available. </p>

</div>  
</section>

</body>
</html>